 /* CUSTOM CLASSES */


/*-------------------
   LABEL PRIORITIES
--------------------*/

.ui.high-priority.label {
    background-color: #DB2828 !important;
    border-color: #DB2828 !important;
    color: #FFFFFF !important;
}

.ui.medium-priority.label {
    background-color: #FBBD08 !important;
    border-color: #FBBD08 !important;
    color: #FFFFFF !important;
}

.ui.low-priority.label {
    background-color: #767676 !important;
    border-color: #767676 !important;
    color: #FFFFFF !important;
}


/*******************************
             Icon
*******************************/

@font-face {
  font-family: 'Icons';
  src: url("./themes/default/assets/fonts/icons.eot");
  src: url("./themes/default/assets/fonts/icons.eot?#iefix") format('embedded-opentype'), url("./themes/default/assets/fonts/icons.woff2") format('woff2'), url("./themes/default/assets/fonts/icons.woff") format('woff'), url("./themes/default/assets/fonts/icons.ttf") format('truetype'), url("./themes/default/assets/fonts/icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

i.icon {
  display: inline-block;
  opacity: 1;
  margin: 0em 0.25rem 0em 0em;
  width: 1.18em;
  height: 1em;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

i.icon:before {
  background: none !important;
}
/*------------
ICONS
----------*/
i.High.icon:before {
  content: "\f12a\f12a\f12a";
}
i.icon.Medium:before {
  content: "\f12a\f12a";
}
i.icon.Low:before {
  content: "\f12a";
}

/* Labels */
.ui.High.label {
  background-color: #DB2828 !important;
  border-color: #DB2828 !important;
  color: #FFFFFF !important;
}
.ui.Medium.label {
  background-color: #FBBD08 !important;
  border-color: #FBBD08 !important;
  color: #FFFFFF !important;
}
.ui.Low.label {
  background-color: #767676 !important;
  border-color: #767676 !important;
  color: #FFFFFF !important;
}

/*-------------------
       CARD PRIORITIES
--------------------*/

.ui.cards > .ui.High.card {
    box-shadow: 0px 0px 0px 1px #DB2828, 0px 2px 0px 0px #DB2828, 0px 1px 3px 0px #DB2828;
}

.ui.cards > .ui.Medium.card {
    box-shadow: 0px 0px 0px 1px #FBBD08, 0px 2px 0px 0px #FBBD08, 0px 1px 3px 0px #FBBD08;
}

.ui.cards > .ui.Low.card {
    box-shadow: 0px 0px 0px 1px #767676, 0px 2px 0px 0px #767676, 0px 1px 3px 0px #767676;
}

/* Card */
.ui.cards > .card,
.ui.card {
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  min-height: 0px;
  background: #FFFFFF;
  padding: 0em;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0px 1px 3px 0px #AAAAAA, 0px 0px 0px 1px #D4D4D5;
  -webkit-transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease, -webkit-transform 0.1s ease;
  z-index: '';
}

.ui.feed > .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  padding: 0.21428571rem 0em;
  margin: 0em;
  background: none;
  border-top: none;
}

.ui.feed {
  margin: 1em 0em;
  width: 100%;
}

/*----------
CARD LABELS
----------*/
/* TYPES */
.Request.label {
  background-color: #2185D0 !important;
  border-color: #2185D0 !important;
  color: #FFFFFF !important;
}
.Offer.label {
  background-color: #21BA45 !important;
  border-color: #21BA45 !important;
  color: #FFFFFF !important;
}
.Alert.label {
  background-color: #FBBD08 !important;
  border-color: #FBBD08 !important;
  color: #FFFFFF !important;
}

/* CATEGORY */
.Hazard.label {
  background-color: #DB2828 !important;
  border-color: #DB2828 !important;
  color: #FFFFFF !important;
}
.Transport.label {
  background-color: #A5673F !important;
  border-color: #A5673F !important;
  color: #FFFFFF !important;
}
.Water.label {
  background-color: #2185D0 !important;
  border-color: #FBBD08 !important;
  color: #FFFFFF !important;
}
.Electricity\/Gas.label {
  background-color: #FBBD08 !important;
  border-color: #FBBD08 !important;
  color: #FFFFFF !important;
}
/*critical, moderate, low*/
/*request, offer, alert