{% extends "lifeline/base.html" %}

{% block head %}
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 500px;
		width: 500px;
  }
</style>
{% endblock %}

{% block content %}
{% if items %}
<div class="ui main container centered center">
    <div class="ui text container">
      <br>
      <div class="row">
          <h1 class="ui header horizontal divider">News Feed</h1>
      </div></br></br>
    </div>
      <div class="row centered">
          <div class="ui three wide column grid">


                <div class="row centered">
                  <div class="ui form">
                  <div class="inline fields">


                    <form action="{% url 'lifeline:index' %}" method="post">
{% csrf_token %}
<div class="inline fields">
  <input type="hidden" name="latitude" id="latitude" value="" />
  <input type="hidden" name="longitude" id="longitude" value="" />
<label>Sort by:</label>
                    <select class="ui dropdown" name="sort_key" id="sort_key" style="width: 100px; margin-right: 10px">
        <option value="created_at">Time</option>
        <option value="item_priority">Priority</option>
        <option id="distanceSort" value="distance" disabled>Distance</option>
      </select>

        <label>Show: </label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="checkbox" name="filter" id="offer" value="offer" checked>
            <label>Requests</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="checkbox" name="filter" id="request" value="request" checked >
            <label>Offers</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="checkbox" name="filter" id="alert" value="alert" checked>
            <label>Alerts</label>
          </div>
        </div>
        <input class="ui tiny right floated blue basic button" type="submit" value="Search"/>

      </div>
</form>

                      </div>
                      </div>
                      </div>
                      </div>
                    </div>
                      </div>
                      </br></br>
<div class="ui centered text container">
<div class="ui three column grid">
  <div class="two wide column">  </div>
    <div class="twelve wide column">
        <div class="ui feed">
            {% for item in items %}
            <div class="row">
                <div class="event">
                    <div class="ui cards">
                        <div class="ui {{ item.item_priority }} card">
                            <div class="content">
                                <img class="left floated mini ui image" src="assets/images/photos/Levi.jpg">
                                <div class="header">
                                    {{ item.user.full_name }}
                                    <a class="ui {{ item.item_priority }} label right floated"><i class="{{ item.item_priority }} icon"></i>{{ item.item_priority }}</a>
                                </div>
                                <div class="meta">
                                    {{ item.distance }} km from you
                                </div>
                                <div class="description">
                                    {{ item.item_name }}
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui large labels center aligned">
                                    <a class="ui {{ item.item_type }} label"><i class="announcement icon"></i>{{ item.item_type }}<div class="detail">Type</div></a>
                                    <a class="ui {{ item.item_category }} label"><i class="plug icon"></i>{{ item.item_category }}<div class="detail">Category</div></a>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui two buttons">
                                    <a href="item/{{ item.id }}" style="width:50%;"><button style="width:100%;" class="ui basic green button">More Info</button></a>
                                    <button class="ui basic red button">Contact</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
    </div>
    <div class="two wide column">  </div>
  </div>
</div>
{% else %}
    <p>No items are available.</p>
{% endif %}

<script>
  {% if lat %}
    document.getElementById("distanceSort").disabled = false;
  {% endif %}
  {% if sort_key %}
    $('#sort_key').val('{{ sort_key }}');
  {% endif %}

  {% if filters %}
    $("input[name='filter']").each( function () {
      $(this).prop('checked', false);
    });
    {% for filter in filters %}
      $('#{{filter}}').prop('checked', true);
    {% endfor %}
  {% endif %}

  if (navigator.geolocation) {
    console.log('Finding location');
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      document.getElementById("latitude").value = position.coords.latitude;
      document.getElementById("longitude").value = position.coords.longitude;
      document.getElementById("distanceSort").disabled = false;
    });
  };
</script>
{% endblock %}
