{% extends "lifeline/base.html" %}

{% block content %}
<form action="{% url 'lifeline:index' %}" method="post">
{% csrf_token %}


<br>

Sort By: &nbsp <select name="sort_key"> &nbsp
    <option value="created_at"> Time</option>
    <option value="item_priority"> Priority</option>
    <!-- <option value="distance"> Distance</option> -->
  </select> &nbsp

  Include:

<input type="checkbox" name="filter" value="offer" checked />&nbsp Offers &nbsp
<input type="checkbox" name="filter" value="request" checked /> &nbsp Requests  &nbsp
<input type="checkbox" name="filter" value="alert" checked />&nbsp Alerts&nbsp

  <input type="submit" value="Search"/>

</form>

<br><br>

{% if items %}
<div class="ui feed">
    {% for item in items %}
       <div class="event">
           <div class="ui cards">
               <div class="red card">
                   <div class="content">
                       <img class="left floated mini ui image" src="assets/images/photos/Levi.jpg">
                       <div class="header">
                           {{ item.user.full_name }}
                       </div>
                       <div class="meta">
                           5km from you
                       </div>
                       <div class="description">
                           {{ item.item_name }}
                       </div>
                   </div>
                   <div class="extra content">
                       <div class="ui buttons">
                           <button class="ui button">More Info</button>
                           <div class="or"></div>
                           <button class="ui positive button">Contact</button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    {% endfor %}
</div>
{% else %}
    <p>No items are available.</p>
{% endif %}
{% endblock %}
