{% extends "lifeline/base.html" %}

{% block head %}
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 700px;
		width: 1000px;
  }
</style>
{% endblock %}

{% block content %}

<div id="map"></div>

<script>

  

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -37.8001998, lng: 144.9641445},
      zoom: 11
    });

    var infowindow = new google.maps.InfoWindow({});

    {% for item in items %}
      {% if item.item_longitude %}
        var pos = {
          lat: {{ item.item_latitude }},
          lng: {{ item.item_longitude }}
        };


        var marker = new google.maps.Marker({
          position: pos,
          map: map,
          title: '{{item.item_name}}'
        });
        bindInfoWindow(marker, map, infowindow,
              '<a href = "../item/{{item.id}}" style="color: black; text-decoration: none;"><b>{{item.item_name}}</b><br> <i>{{item.item_type}}, {{item.created_at}} <br><br></i>{{item.item_description}}</a>'); 


      {% endif %}
    {% endfor %}

    function bindInfoWindow(marker, map, infowindow, html) {
    marker.addListener('click', function() {
        infowindow.setContent(html);
        infowindow.open(map, this);
    });
}


  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMxdAEW3O9Ik80TCxcZ3QXQgHSsIuFXPg&callback=initMap">
</script>

{% endblock %}
