{% extends "lifeline/base.html" %}

{% block head %}
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 600px;
		width: 1000px;
  }
</style>
{% endblock %}

{% block content %}


<div id="map"></div>

<script>

  

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -37.8001998, lng: 144.9641445},
      zoom: 13
    });

    var infowindow = new google.maps.InfoWindow({});

    {% for item in items %}
      {% if item.item_longitude %}
        var pos = {
          lat: {{ item.item_latitude }},
          lng: {{ item.item_longitude }}
        };

        var img_alert = {
  url: 'http://www.iconsdb.com/icons/preview/red/alert-xxl.png',
  size: new google.maps.Size(100,100),
  origin: new google.maps.Point(0, 0),
  anchor: new google.maps.Point(17, 34),
  scaledSize: new google.maps.Size(25,25)
};

       var img_offer = {
  url: 'https://d30y9cdsu7xlg0.cloudfront.net/png/55531-200.png',
  size: new google.maps.Size(100,100),
  origin: new google.maps.Point(0, 0),
  anchor: new google.maps.Point(17, 34),
  scaledSize: new google.maps.Size(25,25)
};

       var img_request = {
  url: 'https://d30y9cdsu7xlg0.cloudfront.net/png/61255-200.png',
  size: new google.maps.Size(800,800),
  origin: new google.maps.Point(0, 0),
  anchor: new google.maps.Point(17, 34),
  scaledSize: new google.maps.Size(25,25)
};


    my_icon = img_alert;
    if ('{{item.item_type}}' === 'Request') {
          my_icon = img_request;
        }

        if ('{{item.item_type}}' === 'Offer') {
          my_icon = img_offer;
        }


        var marker = new google.maps.Marker({
          icon : my_icon,
          position: pos,
          map: map,
          title: '{{item.item_name}}'
        });



        bindInfoWindow(marker, map, infowindow,
              '<a href = "../item/{{item.id}}" style="color: black; text-decoration: none;"><b>{{item.item_name}}</b><br><br> <i>{{item.item_type}} by {{item.user}} </i> <br> {{item.created_at}} <br><br>{{item.item_description}}</a>'); 
        


      {% endif %}
    {% endfor %}

    function bindInfoWindow(marker, map, infowindow, html) {
    marker.addListener('click', function() {
        infowindow.setContent(html);
        infowindow.open(map, this);
    });
}


  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMxdAEW3O9Ik80TCxcZ3QXQgHSsIuFXPg&callback=initMap">
</script>

{% endblock %}
